p#ContactFormIntro
  | #{CONTACT_FORM.TEXT}
#ContactFormIntro.contacto__success.text_success(hidden)
  | #{CONTACT_FORM.SUCCESS}

  .button()
    a.js-modal-close(href='#') #{COOKIES_ALERT.CERRAR}

form#ContactForm.contacto__form(method='POST', action='./sendmail.php')
  fieldset
    label(for='formName') #{CONTACT_FORM.NAME.TITLE}:
    input(type='text',name='formName',id='formName',placeholder=CONTACT_FORM.NAME.PLACEHOLDER)
    .error.text_error(data-error-type='ErrorNameShort', data-error-msg=CONTACT_FORM.ERRORS.NAME_SHORT, hidden)
    .error.text_error(data-error-type='ErrorNameEmpty', data-error-msg=CONTACT_FORM.ERRORS.NAME_BLANK, hidden)
  fieldset
    label(for='formCompany') #{CONTACT_FORM.COMPANY.TITLE}:
    input(type='text',name='formCompany',id='formCompany',placeholder=CONTACT_FORM.COMPANY.PLACEHOLDER)
    .error.text_error(data-error-type='ErrorCompanyShort', data-error-msg=CONTACT_FORM.ERRORS.COMPANY_SHORT, hidden)
    .error.text_error(data-error-type='ErrorCompanyEmpty', data-error-msg=CONTACT_FORM.ERRORS.COMPANY_BLANK, hidden)
  fieldset
    label(for='formPhoneNumber') #{CONTACT_FORM.PHONE.TITLE}:
    input(type='text',name='formPhoneNumber',id='formPhoneNumber',placeholder=CONTACT_FORM.PHONE.PLACEHOLDER)
    .error.text_error(data-error-type='ErrorPhoneNumberEmpty', data-error-msg=CONTACT_FORM.ERRORS.PHONE_BLANK, hidden)
    .error.text_error(data-error-type='ErrorPhoneNumberFormat', data-error-msg=CONTACT_FORM.ERRORS.PHONE_FORMAT, hidden)
  fieldset
    label(for='formEmail') #{CONTACT_FORM.EMAIL.TITLE}:
    input(type='email',name='formEmail',id='formEmail',placeholder=CONTACT_FORM.EMAIL.PLACEHOLDER)
    .error.text_error(data-error-type='ErrorEmailFormat', data-error-msg=CONTACT_FORM.ERRORS.EMAIL_FORMAT, hidden)
    .error.text_error(data-error-type='ErrorEmailEmpty', data-error-msg=CONTACT_FORM.ERRORS.EMAIL_BLANK, hidden)
  fieldset
    label(for='formTextarea') #{CONTACT_FORM.MESSAGE.TITLE}:
    textarea(cols=40,rows=10,name='formTextarea',id='formTextarea',placeholder=CONTACT_FORM.MESSAGE.PLACEHOLDER)
    .error.text_error(data-error-type='ErrorTextShort', data-error-msg=CONTACT_FORM.ERRORS.MESSAGE_SHORT, hidden)
    .error.text_error(data-error-type='ErrorTextEmpty', data-error-msg=CONTACT_FORM.ERRORS.MESSAGE_BLANK, hidden)
  fieldset
    input(type='checkbox',name='formCheckboxConditions',id='formCheckboxConditions')
    label(for='formCheckboxConditions') !{CONTACT_FORM.ACCEPT}
    .error.text_error(data-error-type='ErrorCheckboxConditions', data-error-msg=CONTACT_FORM.ERRORS.ACCEPT_FALSE, hidden)
  fieldset.clearfix
    img.float-left(src='./captcha.php')
    input#tmptxt.float-left(type='text',name='tmptxt')
    .error.text_error.float-left(data-error-type='ErrorCaptchaWrongCode', data-error-msg=CONTACT_FORM.ERRORS.CAPTCHA_WRONG, hidden)
  button#formButton.button #{CONTACT_FORM.SEND}