meta(charset='utf-8')
meta(
  name='viewport'
  content='width=device-width, initial-scale=1, maximum-scale=1'
)
link(
  rel='stylesheet'
  type='text/css'
  href='/css/app.css'
)
<!--[if !IE]>
  <!--><script src="/js/components.js"></script>
<!--<![endif]-->
<!--[if IE 9]>
  <!--><script src="/js/components.js"></script>
<!--<![endif]-->
<!--[if IE 8]>
  <link rel="stylesheet" type="text/css" href="/css/no-flexbox.css">
  <script src="/js/components_ie.js"></script> 
  <script src="/js/legacy.js"></script> 
<![endif]-->

include mixin.pug