extends layout.pug

block title
  title #{SEO.AVISO_LEGAL.TITLE}
  meta(
    name='content'
    description= SEO.AVISO_LEGAL.DESCRIPTION
  )

block mobile-menu
  +mobile-menu('aviso-legal')

block content
  +header('aviso-legal')

  section.content-header.remove_margin-top.remove_margin-bottom
    .content-header__image
      +content-header-image('header_image_contacto.jpg')
    .inner
      .content-header__title
        h1 #{AVISOLEGAL.TITLE}

  section.content-text.inner.inner_smaller.contacto
    .content-text__text
      | !{AVISOLEGAL.TEXT}
      p: a(href=URL.COOKIES) #{AVISOLEGAL.MAS_INFO_COOKIES}