extends layout.pug

block title
  title #{SEO.CONTACTO.TITLE}
  meta(
    name='content'
    description= SEO.CONTACTO.DESCRIPTION
  )

append head
  link(
    rel='stylesheet'
    type='text/css'
    href='/css/leaflet.css'
  )
  script(src='/js/anti-spam-email.js')
  
block mobile-menu
  +menu-icon('mobile-menu__menu-icon')
  .inner
    ul.nav.mobile-menu__nav
      li.nav__item: a(href=URL.INICIO) #{MENU.INICIO}
      li.nav__item: a(href=URL.VENTAJAS) #{MENU.VENTAJAS}
      li.nav__item: a(href=URL.PRECIOS) #{MENU.PRECIOS}
      li.nav__item: a(href=URL.PORTALES) #{MENU.PORTALES}
      li.nav__item.nav__item_active: a(href=URL.CONTACTO) #{MENU.CONTACTO}
      li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{MENU.PRUEBA_GRATUITA}

    //- ul.nav-lang.mobile-menu__nav-lang
      li.nav-lang__item.nav-lang__item_highlighted #{LANG.ESPANOL.TEXT}
      li.nav-lang__item
        a(href=LANG.ENGLISH.URL) #{LANG.ENGLISH.TEXT}
    
    .designby.mobile-menu__designby.grid__column
      p.text_xsmall #{COMMON.DESARROLLADO_POR}:
      a(
        href='http://www.memorandum.net'
        target='_blank'
      )
        +picture('/img/logo_memorandum.svg', MEMORANDUM_MULTIMEDIA)

block content
  header.header.text_white
    .inner
      +menu-icon('header__menu-icon no-desktop')
      .logo.header__logo
        a(href=URL.INICIO)
          +picture('/img/logo_matchtalent.svg', COMMON.WEBSITE_NAME)

      ul.nav.header__nav.only-desktop
        li.nav__item: a(href=URL.VENTAJAS) #{MENU.VENTAJAS}
        li.nav__item: a(href=URL.PRECIOS) #{MENU.PRECIOS}
        li.nav__item: a(href=URL.PORTALES) #{MENU.PORTALES}
        li.nav__item.nav__item_active: a(href=URL.CONTACTO) #{MENU.CONTACTO}
        li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{MENU.PRUEBA_GRATUITA}

      //ul.nav-lang.header__nav-lang.only-desktop
        li.nav-lang__item.nav-lang__item_highlighted #{LANG.ESPANOL.TEXT}
        li.nav-lang__item: a(href=LANG.ENGLISH.URL) #{LANG.ENGLISH.TEXT}

  section.content-header.remove_margin-top.remove_margin-bottom
    .content-header__image
      +content-header-image('header_image_contacto.jpg')
    .inner
      .content-header__title
        h1 #{CONTACTO.TITLE}

  section.content-text.inner.inner_smaller.contacto
    .content-text__text.grid.grid_2-columns
      .grid__column
        | !{CONTACTO.TEXT}
        
        hr.hr
        #map
      .grid__column
        include inc/contact-form.pug

append footer-script
  script(src='/js/leaflet.js')
  script.
    var center = [41.659054, -0.9068540000000098],
        mymap = L.map('map', {
          center: center,
          zoom: 13
        });
    var marker = L.marker(center).addTo(mymap);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: '',
      maxZoom: 18,
      id: 'matchtalent.1l5h75a2',
      accessToken: 'pk.eyJ1IjoibWF0Y2h0YWxlbnQiLCJhIjoiY2l1OGp2cnhjMDAwajJvcGpyOG80NXNxeCJ9.fqwgxtlKGyOpGeUXtQoeJA'
     }).addTo(mymap);
