extends layout.pug

block title
  title #{SEO.CONTACTO.TITLE}
  meta(
    name='content'
    description= SEO.CONTACTO.DESCRIPTION
  )

append head
  link(
    rel='stylesheet'
    type='text/css'
    href='/css/leaflet.css'
  )
  script(src='/js/anti-spam-email.js')
  
block mobile-menu
  +mobile-menu('contacto')

block content
  +header('contacto')

  section.content-header.remove_margin-top.remove_margin-bottom
    .content-header__image
      +content-header-image('header_image_contacto.jpg')
    .inner
      .content-header__title
        h1 #{CONTACTO.TITLE}

  section.content-text.inner.inner_smaller.contacto
    .content-text__text.grid.grid_2-columns
      .grid__column
        | !{CONTACTO.TEXT}
        
        hr.hr
        #map
      .grid__column
        include inc/contact-form.pug

append footer-script
  script(src='/js/leaflet.js')
  script.
    var center = [41.659054, -0.9068540000000098],
        mymap = L.map('map', {
          center: center,
          zoom: 13
        });
    var marker = L.marker(center).addTo(mymap);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: '',
      maxZoom: 18,
      id: 'matchtalent.1l5h75a2',
      accessToken: 'pk.eyJ1IjoibWF0Y2h0YWxlbnQiLCJhIjoiY2l1OGp2cnhjMDAwajJvcGpyOG80NXNxeCJ9.fqwgxtlKGyOpGeUXtQoeJA'
     }).addTo(mymap);
