extends layout.pug

block title
  title #{SEO.COOKIES.TITLE}
  meta(
    name='content'
    description= SEO.COOKIES.DESCRIPTION
  )

block mobile-menu
  +mobile-menu('cookies')

block content
  +header('cookies')

  section.content-header.remove_margin-top.remove_margin-bottom
    .content-header__image
      +content-header-image('header_image_contacto.jpg')
    .inner
      .content-header__title
        h1 #{COOKIES.TITLE}

  section.content-text.inner.inner_smaller.contacto
    .content-text__text
      | !{COOKIES.TEXT}