extends layout.pug

block title
  title #{SEO.INICIO.TITLE}
  meta(
    name='content'
    description= SEO.INICIO.DESCRIPTION
  )

block mobile-menu
  +menu-icon('mobile-menu__menu-icon')
  .inner
    ul.nav.mobile-menu__nav
      li.nav__item: a(href=URL.INICIO) #{MENU.INICIO}
      li.nav__item: a(href=URL.VENTAJAS) #{MENU.VENTAJAS}
      li.nav__item: a(href=URL.PRECIOS) #{MENU.PRECIOS}
      li.nav__item: a(href=URL.PORTALES) #{MENU.PORTALES}
      li.nav__item: a(href=URL.CONTACTO) #{MENU.CONTACTO}
      li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{MENU.PRUEBA_GRATUITA}

    //- ul.nav-lang.mobile-menu__nav-lang
      li.nav-lang__item.nav-lang__item_highlighted #{LANG.ESPANOL.TEXT}
      li.nav-lang__item
        a(href=LANG.ENGLISH.URL) #{LANG.ENGLISH.TEXT}
    
    .designby.mobile-menu__designby.grid__column
      p.text_xsmall #{COMMON.DESARROLLADO_POR}:
      a(
        href='http://www.memorandum.net'
        target='_blank'
      )
        +picture('/img/logo_memorandum.svg', MEMORANDUM_MULTIMEDIA)

block content
  header.header.text_white
    .inner
      +menu-icon('header__menu-icon no-desktop')
      .logo.header__logo
        a(href=URL.INICIO)
          +picture('/img/logo_matchtalent.svg', COMMON.WEBSITE_NAME)

      ul.nav.header__nav.only-desktop
        li.nav__item: a(href=URL.VENTAJAS) #{MENU.VENTAJAS}
        li.nav__item: a(href=URL.PRECIOS) #{MENU.PRECIOS}
        li.nav__item: a(href=URL.PORTALES) #{MENU.PORTALES}
        li.nav__item: a(href=URL.CONTACTO) #{MENU.CONTACTO}
        li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{MENU.PRUEBA_GRATUITA}

      //ul.nav-lang.header__nav-lang.only-desktop
        li.nav-lang__item.nav-lang__item_highlighted #{LANG.ESPANOL.TEXT}
        li.nav-lang__item: a(href=LANG.ENGLISH.URL) #{LANG.ENGLISH.TEXT}
  
  section.hero.remove_margin-bottom
    .slider.text_white.hero__slider.text_center(data-slick!={"arrows": false, "dots": true, "dotsClass": "slider__dotnav", "lazyLoad": "progressive", "infinite": false})
      +slider-item(1, 'slide_01.jpg', INICIO.SLIDER.GESTION.TITLE, INICIO.SLIDER.GESTION.DESCRIPTION)
      +slider-item(2, 'slide_02.jpg', INICIO.SLIDER.AHORRO.TITLE, INICIO.SLIDER.AHORRO.DESCRIPTION)
      +slider-item(3, 'slide_03.jpg', INICIO.SLIDER.AUTOMATIZADO.TITLE, INICIO.SLIDER.AUTOMATIZADO.DESCRIPTION)
      +slider-item(4, 'slide_04.jpg', INICIO.SLIDER.VIDEOCONFERENCIA.TITLE, INICIO.SLIDER.VIDEOCONFERENCIA.DESCRIPTION)

  section.clients.text_center.remove_margin-top
    .inner
      .grid.grid_2-columns.grid_center.grid_width-auto.grid_items-center
        +clients-item('clientes_roommate.png', INICIO.CLIENTES.ROOM_MATE_HOTELS)
        +clients-item('clientes_paradores.png', INICIO.CLIENTES.PARADORES_HOTELES_RESTAURANTES)

  section.why-matchtalent.inner.text_center
    h2.why-matchtalent__headline.text_uppercase
      | #{INICIO.POR_QUE_MATCHTALENT.TITLE}
    .grid.grid_3-columns
      +why-matchtalent-item(
        '/img/optimize.svg',
        INICIO.POR_QUE_MATCHTALENT.OPTIMIZA_RECURSOS.TITLE,
        INICIO.POR_QUE_MATCHTALENT.OPTIMIZA_RECURSOS.DESCRIPTION,
        URL.VENTAJAS
      )
      +why-matchtalent-item(
        '/img/magnifier.svg',
        INICIO.POR_QUE_MATCHTALENT.MEJORES_RESULTADOS.TITLE,
        INICIO.POR_QUE_MATCHTALENT.MEJORES_RESULTADOS.DESCRIPTION,
        URL.VENTAJAS
      )
      +why-matchtalent-item(
        '/img/target.svg',
        INICIO.POR_QUE_MATCHTALENT.MAYOR_ALCANCE.TITLE,
        INICIO.POR_QUE_MATCHTALENT.MAYOR_ALCANCE.DESCRIPTION,
        URL.VENTAJAS
      )

  include inc/contact-with-us.pug

  section.solutions-for.inner
    h2.solutions-for__headline.text_center.text_uppercase
      span.solutions-for__arrow.solutions-for__arrow_bottom
        | !{INICIO.SOLUCIONES_PARA.TITLE}
        span.solutions-for__arrow.solutions-for__arrow_left_right
    .grid.grid_3-columns
      +solution-for-item(
        'palm',
        INICIO.SOLUCIONES_PARA.SECTOR_TURISTICO.TITLE,
        INICIO.SOLUCIONES_PARA.SECTOR_TURISTICO.DESCRIPTION
      )
      +solution-for-item(
        'rack',
        INICIO.SOLUCIONES_PARA.SECTOR_TECNOLOGICO.TITLE,
        INICIO.SOLUCIONES_PARA.SECTOR_TECNOLOGICO.DESCRIPTION
      )
      +solution-for-item(
        'knot',
        INICIO.SOLUCIONES_PARA.INTERSECTORIAL.TITLE,
        INICIO.SOLUCIONES_PARA.INTERSECTORIAL.DESCRIPTION
      )

  section.features.text_white
    .inner
      h2.features__headline.text_center.text_uppercase.text_white
        | #{INICIO.VENTAJAS.TITLE}
      .grid.grid_2-columns
        +features-item(INICIO.VENTAJAS.PUBLICA_OFERTAS)
        +features-item(INICIO.VENTAJAS.GESTIONA_ANUNCIOS)
        +features-item(INICIO.VENTAJAS.ADMINISTRA_AGENDA)
        +features-item(INICIO.VENTAJAS.CONOCE_CANDIDATOS)
        .features__button.button.button_inverse.text_center
          a(href=URL.VENTAJAS) #{INICIO.VENTAJAS.VER_VENTAJAS}

  section.partners.inner.text_center
    h2.partners__headline.text_center.text_uppercase
      | #{INICIO.PORTALES_EMPLEO.TITLE}
    .grid.grid_flex.grid_center
      +partners(["/img/portal_buscarempleo.jpg", "/img/portal_ticjob.jpg", "/img/portal_monster.jpg", "/img/portal_infoempleo.jpg", "/img/portal_linkedinjobs.jpg", "/img/portal_xing.jpg", "/img/portal_disjob.jpg", "/img/portal_fjobs.jpg"])
    .button.partners__button
      a(href=URL.PORTALES) #{INICIO.PORTALES_EMPLEO.VER_TODOS_PORTALES}
