doctype html
html(lang="es")
  head
    title= "MatchTalent - Plataforma de empleo"
    meta(charset='utf-8')
    meta(
      name='content'
      description='Plataforma de empleo integrada con diferentes portales según el perfil de profesional que busque con posibilidad de entrevistar por videoconferencia.'
    )
    meta(
      name='viewport'
      description='width=device-width, initial-scale=1, maximum-scale=1'
    )
    link(
      rel='stylesheet'
      type='text/css'
      href='/css/app.css'
    )

  include inc/mixin.pug

  body
    .temp-page.text_white.text_center
      .temp-page__content.inner
        .temp-page__logo
          +picture('/img/logo_matchtalent.svg', 'MatchTalent - Plataforma de empleo')
        h2.temp-page__title
          | Estamos trabajando para mejorar Matchtalent.
        .temp-page__text
          p Disculpe las molestias.
          p
            | <a href="tel:0034876019922">(+34) 876 01 99 22</a><br/>
          <a href="mailto:comercial@memorandum.net">Correo electrónico</a>
          p.only-phablet-landscape
            | Desarrollado por <a href="http://www.memorandum.net" target="_blank">Memorándum Multimedia</a>
      .designby.temp-page__designby.grid__column
        p.text_xsmall Desarrollado por:
        a(href='http://www.memorandum.net', target='_blank')
          +picture('/img/logo_memorandum.svg', 'Desarrollo Web y Márketing Online | Memorándum Multimedia')