extends layout.pug

block title
  title #{SEO.INICIO.TITLE}
  meta(
    name='content'
    description= SEO.INICIO.DESCRIPTION
  )

block mobile-menu
  +mobile-menu('inicio')

block content
  +header('inicio')
  
  section.hero.remove_margin-bottom
    .slider.text_white.hero__slider.text_center(data-slick!={"arrows": false, "dots": true, "dotsClass": "slider__dotnav", "lazyLoad": "progressive", "infinite": false})
      +slider-item(1, 'slide_01.jpg', INICIO.SLIDER.GESTION.TITLE, INICIO.SLIDER.GESTION.DESCRIPTION, '#modal-prueba-gratuita', true, true, MENU.PRUEBA_GRATUITA)
      +slider-item(2, 'slide_02.jpg', INICIO.SLIDER.AHORRO.TITLE, INICIO.SLIDER.AHORRO.DESCRIPTION, '#modal-prueba-gratuita', true, true, MENU.PRUEBA_GRATUITA)
      +slider-item(3, 'slide_03.jpg', INICIO.SLIDER.AUTOMATIZADO.TITLE, INICIO.SLIDER.AUTOMATIZADO.DESCRIPTION, '#modal-prueba-gratuita', true, true, MENU.PRUEBA_GRATUITA)
      +slider-item(4, 'slide_04.jpg', INICIO.SLIDER.VIDEOCONFERENCIA.TITLE, INICIO.SLIDER.VIDEOCONFERENCIA.DESCRIPTION, '#modal-prueba-gratuita', true, true, MENU.PRUEBA_GRATUITA)

  section.clients.text_center.remove_margin-top
    .inner
      .grid.grid_2-columns.grid_center.grid_width-auto.grid_items-center
        +clients-item('clientes_roommate.png', INICIO.CLIENTES.ROOM_MATE_HOTELS)
        +clients-item('clientes_paradores.png', INICIO.CLIENTES.PARADORES_HOTELES_RESTAURANTES)

  section.why-matchtalent.inner.text_center
    h2.why-matchtalent__headline.text_uppercase
      | #{INICIO.POR_QUE_MATCHTALENT.TITLE}
    .grid.grid_3-columns
      +why-matchtalent-item(
        '/img/optimize.svg',
        INICIO.POR_QUE_MATCHTALENT.OPTIMIZA_RECURSOS.TITLE,
        INICIO.POR_QUE_MATCHTALENT.OPTIMIZA_RECURSOS.DESCRIPTION,
        URL.VENTAJAS
      )
      +why-matchtalent-item(
        '/img/magnifier.svg',
        INICIO.POR_QUE_MATCHTALENT.MEJORES_RESULTADOS.TITLE,
        INICIO.POR_QUE_MATCHTALENT.MEJORES_RESULTADOS.DESCRIPTION,
        URL.VENTAJAS
      )
      +why-matchtalent-item(
        '/img/target.svg',
        INICIO.POR_QUE_MATCHTALENT.MAYOR_ALCANCE.TITLE,
        INICIO.POR_QUE_MATCHTALENT.MAYOR_ALCANCE.DESCRIPTION,
        URL.VENTAJAS
      )

  include inc/contact-with-us.pug

  section.solutions-for.inner
    h2.solutions-for__headline.text_center.text_uppercase
      span.solutions-for__arrow.solutions-for__arrow_bottom
        | !{INICIO.SOLUCIONES_PARA.TITLE}
        span.solutions-for__arrow.solutions-for__arrow_left_right
    .grid.grid_3-columns
      +solution-for-item(
        'palm',
        INICIO.SOLUCIONES_PARA.SECTOR_TURISTICO.TITLE,
        INICIO.SOLUCIONES_PARA.SECTOR_TURISTICO.DESCRIPTION
      )
      +solution-for-item(
        'rack',
        INICIO.SOLUCIONES_PARA.SECTOR_TECNOLOGICO.TITLE,
        INICIO.SOLUCIONES_PARA.SECTOR_TECNOLOGICO.DESCRIPTION
      )
      +solution-for-item(
        'knot',
        INICIO.SOLUCIONES_PARA.INTERSECTORIAL.TITLE,
        INICIO.SOLUCIONES_PARA.INTERSECTORIAL.DESCRIPTION
      )

  section.features.text_white
    .inner
      h2.features__headline.text_center.text_uppercase.text_white
        | #{INICIO.VENTAJAS.TITLE}
      .grid.grid_2-columns
        +features-item(INICIO.VENTAJAS.PUBLICA_OFERTAS)
        +features-item(INICIO.VENTAJAS.GESTIONA_ANUNCIOS)
        +features-item(INICIO.VENTAJAS.ADMINISTRA_AGENDA)
        +features-item(INICIO.VENTAJAS.CONOCE_CANDIDATOS)
        .features__button.button.button_inverse.text_center
          a(href=URL.VENTAJAS) #{INICIO.VENTAJAS.VER_VENTAJAS}

  section.partners.inner.text_center
    h2.partners__headline.text_center.text_uppercase
      | #{INICIO.PORTALES_EMPLEO.TITLE}
    .grid.grid_flex.grid_center
      +partners(["/img/portal_buscarempleo.jpg", "/img/portal_ticjob.jpg", "/img/portal_monster.jpg", "/img/portal_infoempleo.jpg", "/img/portal_linkedinjobs.jpg", "/img/portal_turijobs.jpg", "/img/portal_disjob.jpg", "/img/portal_fjobs.jpg"])
    .button.partners__button
      a(href=URL.PORTALES) #{INICIO.PORTALES_EMPLEO.VER_TODOS_PORTALES}
