mixin picture(img)
	picture
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		source(
			srcset= img
			type='image/svg+xml'
		)
		<!--[if IE 9]></video><![endif]-->
		img(
			srcset= img
			alt=''
			title=''
		)