extends layout.pug

block title
  title #{SEO.PORTALES.TITLE}
  meta(
    name='content'
    description=SEO.PORTALES.DESCRIPTION
  )

block mobile-menu
  +mobile-menu('portales')

block content
  +header('portales')

  section.content-header.remove_margin-top.remove_margin-bottom
    .content-header__image
      +content-header-image('header_image_empleo.jpg')
    .inner
      .content-header__title
        h1 #{PORTALES_EMPLEO.TITLE}

  section.content-text.inner.inner_smaller.contacto.remove_margin-bottom
    .content-text__text
      | !{PORTALES_EMPLEO.TEXT}
      hr.hr

  section.partners.inner.text_center.remove_margin-top
    .grid.grid_flex.grid_center
      +partners
