extends layout.pug

block title
  title #{SEO.PORTALES.TITLE}
  meta(
    name='content'
    description=SEO.PORTALES.DESCRIPTION
  )

block mobile-menu
  +menu-icon('mobile-menu__menu-icon')
  .inner
    ul.nav.mobile-menu__nav
      li.nav__item: a(href=URL.INICIO) #{MENU.INICIO}
      li.nav__item: a(href=URL.VENTAJAS) #{MENU.VENTAJAS}
      li.nav__item: a(href=URL.PRECIOS) #{MENU.PRECIOS}
      li.nav__item/nav__item_active: a(href=URL.PORTALES) #{MENU.PORTALES}
      li.nav__item: a(href=URL.CONTACTO) #{MENU.CONTACTO}
      li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{MENU.PRUEBA_GRATUITA}

    //- ul.nav-lang.mobile-menu__nav-lang
      li.nav-lang__item.nav-lang__item_highlighted #{LANG.ESPANOL.TEXT}
      li.nav-lang__item
        a(href=LANG.ENGLISH.URL) #{LANG.ENGLISH.TEXT}
    
    .designby.mobile-menu__designby.grid__column
      p.text_xsmall #{COMMON.DESARROLLADO_POR}:
      a(
        href='http://www.memorandum.net'
        target='_blank'
      )
        +picture('/img/logo_memorandum.svg', MEMORANDUM_MULTIMEDIA)

block content
  header.header.text_white
    .inner
      +menu-icon('header__menu-icon no-desktop')
      .logo.header__logo
        a(href=URL.INICIO)
          +picture('/img/logo_matchtalent.svg', COMMON.WEBSITE_NAME)

      ul.nav.header__nav.only-desktop
        li.nav__item: a(href=URL.VENTAJAS) #{MENU.VENTAJAS}
        li.nav__item: a(href=URL.PRECIOS) #{MENU.PRECIOS}
        li.nav__item.nav__item_active: a(href=URL.PORTALES) #{MENU.PORTALES}
        li.nav__item: a(href=URL.CONTACTO) #{MENU.CONTACTO}
        li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{MENU.PRUEBA_GRATUITA}

      //ul.nav-lang.header__nav-lang.only-desktop
        li.nav-lang__item.nav-lang__item_highlighted #{LANG.ESPANOL.TEXT}
        li.nav-lang__item: a(href=LANG.ENGLISH.URL) #{LANG.ENGLISH.TEXT}

  section.content-header.remove_margin-top.remove_margin-bottom
    .content-header__image
      +content-header-image('header_image_empleo.jpg')
    .inner
      .content-header__title
        h1 #{PORTALES_EMPLEO.TITLE}

  section.content-text.inner.inner_smaller.contacto.remove_margin-bottom
    .content-text__text
      | !{PORTALES_EMPLEO.TEXT}
      hr.hr

  section.partners.inner.text_center.remove_margin-top
    .grid.grid_flex.grid_center
      +partners(["/img/portal_buscarempleo.jpg", "/img/portal_ticjob.jpg", "/img/portal_monster.jpg", "/img/portal_infoempleo.jpg", "/img/portal_linkedinjobs.jpg", "/img/portal_xing.jpg", "/img/portal_disjob.jpg", "/img/portal_fjobs.jpg", "/img/portal_trabajando.jpg", "/img/portal_turijobs.jpg", "/img/portal_jobatus.jpg", "/img/portal_indeed.jpg", "/img/portal_jobware.jpg", "/img/portal_jobandtalent.jpg", "/img/portal_laboris.jpg", "/img/portal_bebee.jpg", "/img/portal_experteer.jpg", "/img/portal_51job.jpg", "/img/portal_tecnoempleo.jpg", "/img/portal_universia.jpg", "/img/portal_universitariocontrabajo.jpg", "/img/portal_idoneum.jpg", "/img/portal_soloingenieria.jpg"])
