extends layout.pug

block title
  title #{SEO.PRECIOS.TITLE}
  meta(
    name='content'
    description=SEO.PRECIOS.DESCRIPTION
  )

block mobile-menu
  +mobile-menu('precios')

block content
  +header('precios')

  section.content-header.remove_margin-top.remove_margin-bottom
    .content-header__image
      +content-header-image('header_image_precios.jpg')
    .inner
      .content-header__title
        h1 #{PRECIOS.TITLE}

  section.our-plans.inner.inner_smaller.text_center
    .grid.grid_3-columns.our-plans__grid_3-columns
      .our-plans__item.grid__column
        .our-plans__header
          .our-plans__title #{PRECIOS.PROFESIONAL.TITLE}
          .our-plans__price.text_strikethrough
            span #{PRECIOS.PROFESIONAL.PRECIO.MENSUAL}
            span.our-plans__currency &euro;
          .our-plans__price.our-plans__price_lanzamiento
            span #{PRECIOS.PROFESIONAL.PRECIO.LANZAMIENTO}
            span.our-plans__currency &euro;*
          .our-plans__price-text
            | !{PRECIOS.PRECIO_INFO}
        ul.our-plans__features
          | !{PRECIOS.PROFESIONAL.PLAN}
          li: a(href='#plansInclude', data-scroll) #{PRECIOS.ALL_FEATURES}
        .our-plans__button.button.button_inverse_blue
          a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{MENU.PRUEBA_GRATUITA}
      
      .our-plans__item.grid__column.our-plans__item_highlighted
        .our-plans__header
          .our-plans__title #{PRECIOS.EXPERTO.TITLE}
          .our-plans__price.text_strikethrough
            span #{PRECIOS.EXPERTO.PRECIO.MENSUAL}
            span.our-plans__currency &euro;
          .our-plans__price.our-plans__price_lanzamiento
            span #{PRECIOS.EXPERTO.PRECIO.LANZAMIENTO}
            span.our-plans__currency &euro;*
          .our-plans__price-text
            | !{PRECIOS.PRECIO_INFO}
        ul.our-plans__features
          | !{PRECIOS.EXPERTO.PLAN}
          li: a(href='#plansInclude', data-scroll) #{PRECIOS.ALL_FEATURES}
        .our-plans__button.button.button_inverse_blue
          a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{MENU.PRUEBA_GRATUITA}
      
      .our-plans__item.grid__column
        .our-plans__header
          .our-plans__title #{PRECIOS.CUSTOM.TITLE}
          .our-plans__price.text_strikethrough
            span #{PRECIOS.CUSTOM.PRECIO.MENSUAL}
            span.our-plans__currency &euro;
          .our-plans__price.our-plans__price_lanzamiento
            span #{PRECIOS.CUSTOM.PRECIO.LANZAMIENTO}
            span.our-plans__currency &euro;*
          .our-plans__price-text
            | !{PRECIOS.PRECIO_INFO}
        ul.our-plans__features
          | !{PRECIOS.CUSTOM.PLAN}
          li: a(href='#plansInclude', data-scroll) #{PRECIOS.ALL_FEATURES}
        .our-plans__button.button.button_inverse_blue
          a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{MENU.PRUEBA_GRATUITA}

  .hr.hr_fullwidth

  section#plansInclude.plans-include.inner.inner_smaller.remove_margin-bottom
    h2.plans-include__headline.text_uppercase.text_center
      | #{PRECIOS.TODOS_PLANES_INCLUYEN.TITLE}
    .grid.grid_2-columns.plans-include__grid_2-columns.grid_center
      | !{PRECIOS.TODOS_PLANES_INCLUYEN.TEXT}

  include inc/contact-with-us.pug

  section.partners.inner.text_center
    h2.partners__headline.text_center.text_uppercase
      | ​Portales de Empleo
    .grid.grid_flex.grid_center
      +partners(8)
    .button.partners__button
      a(href='/portales.html') ver todos portales