extends layout.pug

block title
  title #{SEO.VENTAJAS.TITLE}
  meta(
    name='content'
    description=SEO.VENTAJAS.DESCRIPTION
  )

block mobile-menu
  +menu-icon('mobile-menu__menu-icon')
  .inner
    ul.nav.mobile-menu__nav
      li.nav__item: a(href=URL.INICIO) #{MENU.INICIO}
      li.nav__item.nav__item_active: a(href=URL.VENTAJAS) #{MENU.VENTAJAS}
      li.nav__item: a(href=URL.PRECIOS) #{MENU.PRECIOS}
      li.nav__item: a(href=URL.PORTALES) #{MENU.PORTALES}
      li.nav__item: a(href=URL.CONTACTO) #{MENU.CONTACTO}
      li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{MENU.PRUEBA_GRATUITA}
      
    //- ul.nav-lang.mobile-menu__nav-lang
      li.nav-lang__item.nav-lang__item_highlighted #{LANG.ESPANOL.TEXT}
      li.nav-lang__item
        a(href=LANG.ENGLISH.URL) #{LANG.ENGLISH.TEXT}
      
    .designby.mobile-menu__designby.grid__column
      p.text_xsmall #{COMMON.DESARROLLADO_POR}:
      a(
        href='http://www.memorandum.net'
        target='_blank'
      )
        +picture('/img/logo_memorandum.svg', MEMORANDUM_MULTIMEDIA)

block content
  header.header.text_white
    .inner
      +menu-icon('header__menu-icon no-desktop')
      .logo.header__logo
        a(href=URL.INICIO)
          +picture('/img/logo_matchtalent.svg', COMMON.WEBSITE_NAME)

      ul.nav.header__nav.only-desktop
        li.nav__item.nav__item_active: a(href=URL.VENTAJAS) #{MENU.VENTAJAS}
        li.nav__item: a(href=URL.PRECIOS) #{MENU.PRECIOS}
        li.nav__item: a(href=URL.PORTALES) #{MENU.PORTALES}
        li.nav__item: a(href=URL.CONTACTO) #{MENU.CONTACTO}
        li.nav__item.nav__item_highlighted: a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{MENU.PRUEBA_GRATUITA}

      //ul.nav-lang.header__nav-lang.only-desktop
        li.nav-lang__item.nav-lang__item_highlighted #{LANG.ESPANOL.TEXT}
        li.nav-lang__item: a(href=LANG.ENGLISH.URL) #{LANG.ENGLISH.TEXT}

  section.content-header.remove_margin-top.remove_margin-bottom
    .content-header__image
      +content-header-image('header_image_ventajas.jpg')
    .inner
      .content-header__title
        h1 #{VENTAJAS.TITLE}

  section.content-text.inner.inner_smaller
    .content-text__grid_2-columns.grid.grid_2-columns.content-text__text.grid_items-center
      .grid__column
        | !{VENTAJAS.TEXT}
      .grid__column
        .content-text__cta.cta.text_center
          .cta__content.text_blue
            p
              | !{VENTAJAS.CONTACTA_CON_NOSOTROS}
            .cta__button.button.button_inverse.button_inverse_blue
              a(href='#modal-prueba-gratuita', data-modal, data-init-form) #{COMMON.SOLICITAR_DEMO}

  section.our-features
    .inner.inner_smaller
      +our-features-item(
        'dashboard',
        VENTAJAS.PANEL.TITLE,
        VENTAJAS.PANEL.DESCRIPTION
      )
      +our-features-item(
        'social-networks',
        VENTAJAS.SOCIALNETWORK.TITLE,
        VENTAJAS.SOCIALNETWORK.DESCRIPTION
      )
      +our-features-item(
        'mobile',
        VENTAJAS.MOVIL.TITLE,
        VENTAJAS.MOVIL.DESCRIPTION
      )
      +our-features-item(
        'candidate',
        VENTAJAS.CANDIDATO.TITLE,
        VENTAJAS.CANDIDATO.DESCRIPTION
      )
      +our-features-item(
        'subscriptions',
        VENTAJAS.INSCRIPCIONES.TITLE,
        VENTAJAS.INSCRIPCIONES.DESCRIPTION
      )

  include inc/contact-with-us.pug

  section.our-features
    .inner.inner_smaller
      +our-features-item(
        'unique-db',
        VENTAJAS.BASEDATOS.TITLE,
        VENTAJAS.BASEDATOS.DESCRIPTION
      )
      +our-features-item(
        'interaction',
        VENTAJAS.INTERACCION.TITLE,
        VENTAJAS.INTERACCION.DESCRIPTION
      )
      +our-features-item(
        'reports',
        VENTAJAS.INFORMES.TITLE,
        VENTAJAS.INFORMES.DESCRIPTION
      )
      +our-features-item(
        'lopd',
        VENTAJAS.LOPD.TITLE,
        VENTAJAS.LOPD.DESCRIPTION
      )
      +our-features-item(
        'video',
        VENTAJAS.VIDEO.TITLE,
        VENTAJAS.VIDEO.DESCRIPTION
      )
