extends layout.pug

block title
  title #{SEO.VIDEO_CONFERENCIA.TITLE}
  meta(
    name='content'
    description= SEO.VIDEO_CONFERENCIA.DESCRIPTION
  )

block mobile-menu
  +mobile-menu('cookies')

block content
  +header('cookies')

  section.content-header.remove_margin-top.remove_margin-bottom
    .content-header__image
      +content-header-image('header_image_videoconferencia.jpg')
    .inner
      .content-header__title
        h1 #{VIDEO_CONFERENCIA.TITLE}

  section.videoconferencia.inner.contacto.remove_margin-bottom
    .content-text__text
      | !{VIDEO_CONFERENCIA.TEXT}
    .videoconferencia__como-funciona
      h4.videoconferencia__headline #{VIDEO_CONFERENCIA.COMO_FUNCIONA.TITLE}
      .videoconferencia__item
        .videoconferencia__description
          | #{VIDEO_CONFERENCIA.COMO_FUNCIONA.STORY_01}
          .videoconferencia__icon.only-desktop
        .videoconferencia__picture
          +picture('videoconferencia_1', SEO.VIDEO_CONFERENCIA.TITLE)
      .videoconferencia__item
        .videoconferencia__description
          | #{VIDEO_CONFERENCIA.COMO_FUNCIONA.STORY_02}
          .videoconferencia__icon.only-desktop
        .videoconferencia__picture
          +picture('videoconferencia_2', SEO.VIDEO_CONFERENCIA.TITLE)
      .videoconferencia__item
        .videoconferencia__description
          | #{VIDEO_CONFERENCIA.COMO_FUNCIONA.STORY_03}
          .videoconferencia__icon.only-desktop
        .videoconferencia__picture
          +picture('videoconferencia_3', SEO.VIDEO_CONFERENCIA.TITLE)
      .videoconferencia__item
        .videoconferencia__description
          | #{VIDEO_CONFERENCIA.COMO_FUNCIONA.STORY_04}
          .videoconferencia__icon.only-desktop
        .videoconferencia__picture
          +picture('videoconferencia_4', SEO.VIDEO_CONFERENCIA.TITLE)
    
    .hr.hr
  section.caracteristicas.inner.remove_margin-top.remove_margin-bottom
    .grid.grid_2-columns.grid_center
      | !{VIDEO_CONFERENCIA.CARACTERISTICAS.TEXT}

  include inc/contact-with-us.pug

  section.partners.inner.text_center
    h2.partners__headline.text_center.text_uppercase
      | ​Portales de Empleo
    .grid.grid_flex.grid_center
      +partners(8)
    .button.partners__button
      a(href='/portales.html') ver todos portales